.App {
  text-align: center;
}

.MuiToolbar-root {
  justify-content: space-between;
}

.authContainer {
  height: 85vh;
  background: url('./images/mainBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5%; 
}

.navBar {
  background-color: red;
}

.authForm {
  min-width: 350px;
  max-width: 500px;
  margin: auto;
  padding: 3rem;
}

#footer {
  background-color: white;
}
