.App {
  text-align: center;
}

.MuiToolbar-root {
  justify-content: space-between;
}

.authContainer {
  height: 85vh;
  background: url('./images/mainBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5%; 
}

.navBar {
  background-color: red;
}

.authForm {
  min-width: 350px;
  max-width: 500px;
  margin: auto;
  padding: 3rem;
}

#footer {
  background-color: white;
}

#musicPreview,
#gigList {
  padding-top: 1rem;
  margin: 0.5rem 0;
}

#musicPreview {
  border-right: 1px grey solid;
}

.previewCard {
  margin: 1rem 2rem;
  text-align: left;
  min-width: 250px;
}

.addButton {
  color: white;
  background: rgb(0, 167, 0) !important;
  margin: 1rem !important;
}

#newMusicModal {
  max-width: 500px;
  height: 100%;
  margin: 5rem auto;
  outline: 0;
}

#newMusicModal .MuiPaper-root form {
  padding: 1rem, 2.5rem !important;
}

.gigCard {
  width: 200px;
  min-width: 200px;
  height: 200px;
  margin: 1rem;
}